name: CI

on:
  push:
    branches: [main]
  pull_request:

env:
  XCODE_VERSION: '26.2.0'

jobs:
  xcode_test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-apple-darwin
          - target: aarch64-apple-darwin
    runs-on: macos-26
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: JohnTitor/setup-xcode@ef67ebb2baeb2fad4dc86caa3dc720b902011e9b # v0.1.0
        with:
          xcode-version: ${{ env.XCODE_VERSION }}
      - run: TARGET=${{ matrix.target }} RUST_VERSION=nightly ci/run.sh

  target_test:
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-apple-ios
          - aarch64-apple-ios-sim
          - x86_64-apple-ios
    runs-on: macos-26
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: JohnTitor/setup-xcode@ef67ebb2baeb2fad4dc86caa3dc720b902011e9b # v0.1.0
        with:
          xcode-version: ${{ env.XCODE_VERSION }}
      - run: TARGET=${{ matrix.target }} RUST_VERSION=nightly NOCTEST=1 NORUN=1 ci/run.sh

  style_check:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: JohnTitor/setup-xcode@ef67ebb2baeb2fad4dc86caa3dc720b902011e9b # v0.1.0
        with:
          xcode-version: ${{ env.XCODE_VERSION }}
      - run: rustup component add rustfmt clippy
      - run: cargo fmt --all -- --check
      - run: cargo clippy --workspace -- -D warnings
