name: Make a new release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-12

    steps:
      - uses: actions/checkout@v4

      - name: Configure rustup
        run: |
          rustup override set stable
          rustup update stable

      - name: cargo login
        run: cargo login ${{ secrets.CRATES_IO_TOKEN }}

      - name: cargo publish
        run: |
          cargo update
          cargo publish
