name: Make a new release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Configure rustup
        run: |
          rustup override set stable
          rustup update stable

      - name: cargo login
        run: cargo login ${{ secrets.CRATES_IO_TOKEN }}

      - name: cargo publish
        run: |
          cargo update
          cargo publish
